body {
  font-family: Source Sans Pro, Arial, sans-serif;
  margin: 0px;
}

h1, h2, h3 {
  font-family: Montserrat, Arial, sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.header {
  width: 100%;
  padding: 0px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.work-header {
  postion: fixed;
  top: 0;
  left: 0;
  background-image: url('../images/work-background.jpeg');
  -webkit-background-position: center;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

@media only screen and (min-width: 1320px) {
  .header {
    height: 100%;
    min-height: 100vh;
  }
  
  .work-header {
    min-height: 70vh;
  }
}

.grey {
  background-color: #f1f1f1;
}

.light-grey {
  background-color: #EBEFF2;
}

.nav-container {
  display: block;
  background-color: #000;
  width: 100%;
  height: 55px;
}

.primary-nav {
  display: block;
  width: 100%;
  height: 55px;
  padding: 0px 20px;
}

.logo {
  display: block;
  float: left;
  padding: 0px;
}

.logo img {
  width: 28px;
  margin-top: -2px;
}

.nav {
  display: block;
  float: right;
}

.nav li {
  display: inline-block;
}

.nav li a {
  color: #c3c3c3;
  font-size: 11.5px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 20px;
  letter-spacing: 0.18em;
  text-decoration: none;
  transition: 0.3s;
}

.nav li a:hover {
  color: #fff;
}

.focus {
  color: #5CA17C; /*non-webkit fallback*/
  text-transform: uppercase;
  background: -webkit-linear-gradient(45deg, rgba(0,133,202,1) 0%, rgba(0,169,190,1) 25%, rgba(0,179,167,1) 51%, rgba(0,172,182,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: .2em;
  margin-bottom: 0;
  background-size: 200% auto;
  font-weight: 400;
}

@media only screen and (min-width: 540px) {
  .nav-container {
    background-color: transparent;
  }
  
  .primary-nav {
    padding: 0px 30px;
  }
  
  .nav li a {
    font-size: 13px;
    margin-left: 40px;
    color: #333;
  }
  
  .nav li a:hover {
    color: #5CA17C; /*non-webkit fallback*/
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, rgba(0,133,202,1) 0%, rgba(0,169,190,1) 25%, rgba(0,179,167,1) 51%, rgba(0,172,182,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: .2em;
    margin-bottom: 0;
    background-size: 200% auto;
  }
}

@media only screen and (min-width: 768px) {
  .nav-container, .primary-nav {
    padding: 0px 40px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1320px) {
  .nav-container, .primary-nav {
    width: 1240px;
    margin: auto;
    margin-top: 30px;
    padding: 0px;
  }
}

.inline {
  display: inline-block;
  width: 40px;
  float: left;
  font-size: 24px;
  margin-top: 20px;
}

.fa-facebook {
  color: #4267B2;
}

.fa-linkedin {
  color: #0077B5;
}

.heading {
  max-width: 350px;
  text-align: left;
  margin: 50px 0px 70px 30px;
}

@media only screen and (min-width: 768px) {
  .heading {
    max-width: 500px;
    margin-left: 80px;
    margin-bottom: 90px;
  }
}

.heading h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .heading h1 {
    font-size: 40px;
  }
}

.heading p {
  font-size: 16px;
  font-weight: 200;
  margin: 5px 0px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .heading p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 1320px) {
  .heading {
    max-width: 1240px;
    width: 1240px;
    margin: 0 auto;
    margin-top: 110px;
  }
  
  .heading p {
    max-width: 600px;
    font-size: 22px;
  }
}

/**** Scrolling Background ****/
@-webkit-keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}
@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}

.top {
  postion: fixed;
  top: 0;
  left: 0;
  background-image: url('../images/background.png');
  -webkit-background-position: center;
  background-position: center;
  -webkit-background-size: 500px;
  background-size: 500px;
  -webkit-animation: scrollBackground 15s linear infinite;
  animation: scrollBackground 15s linear infinite;
}

.button {
  padding: 15px 20px;
  background: rgba(59,173,227,1);
  background: linear-gradient(45deg, rgba(0,133,202,1) 0%, rgba(0,169,190,1) 25%, rgba(0,179,167,1) 51%, rgba(0,172,182,1) 100%);
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  min-width: 150px;
  background-size: 200% auto;
  transition: 0.5s;
}

.button:hover {
  background-position: right center;
}

.gradient {
  color: #5CA17C; /*non-webkit fallback*/
  text-transform: uppercase;
  background: -webkit-linear-gradient(45deg, rgba(0,133,202,1) 0%, rgba(0,169,190,1) 25%, rgba(0,179,167,1) 51%, rgba(0,172,182,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: .2em;
  margin-bottom: 0;
  background-size: 200% auto;
  transition: 0.5s;
}

.gradient:hover {
  background-position: right center;
}

.light {
  font-weight: 200;
}

.section-container {
  display: block;
  width: 100%;
  padding: 20px;
  float: left;
}

.col {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.col h2, .section-container h2 {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 0px;
  text-align: left;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 400;
  
}

@media only screen and (min-width: 1024px) {
  .section-container {
    width: 100%;
    margin: 0 auto;
    padding: 80px 80px 40px 80px;
    padding-top: 80px;
    padding-bottom: 40px;
    float: none;
  }
  
  .col-left {
    padding-right: 20px;
    float: left;
  }
  
  .col-right {
    padding-left: 20px;
    float: right;
  }
  
  .col h2, .section-container h2 {
    font-size: 38px;
  }
  
  .detail {
    font-size: 18px;
    width: 650px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1320px) {
  .section-container {
    width: 1240px;
    padding: 40px 0px;
  }
}


#about-me {
  display: block;
  overflow: auto;
}


.skills {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.skill {
  margin-top: 30px;
  text-align: left;
}

.project {
  background-color: #fff;
  padding: 20px;
}

.project img {
  width: 100%;
}

.view-project {
  font-size: 13px;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #4BC6B9;
  border-bottom-style: dotted;
}

.p-link {
  text-transform: none;
}

@media only screen and (min-width: 768px) {
  .skill {
    text-align: left;
  }
  
  #about-me {
    padding-bottom: 50px;
  }
}

.skills .skill .fa {
  font-size: 30px;
}

.skills .skill .fa-code {
  color: #4BC6B9;
}

.skills .skill .fa-mobile {
  color: #ECCE79;
  font-size: 40px;
}

.skills .skill .fa-lightbulb-o {
  color: #449DD1;
}

.skills .skill h3 {
  font-weight: 500;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
}

.skills .skill p {
  font-weight: 200;
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.8em;
}

@media only screen and (min-width: 540px) {
  .skill {
    background-color: #fff;
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .skills .skill .fa {
    text-align: center;
  }
  
  .skill {
    width: 32%;
    float: left;
  }
  
  .project {
    width: 48%;
  }
  
  .section-container h2 {
    font-size: 18px;
  }
}

.work-btn {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
  border-bottom-style: dotted;
  width: 110px;
}

.container {
  margin: 0 auto;
  width: 100%;
  background: #444753;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.gradient-background {
  background: -webkit-linear-gradient(45deg, rgba(0,133,202,1) 0%, rgba(0,169,190,1) 25%, rgba(0,179,167,1) 51%, rgba(0,172,182,1) 100%);
  padding: 50px 10px 0px 10px;
  min-height: 350px;
}

#contact h2 {
  text-align: center;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 0px;
}

#contact p {
  color: #fff;
  font-weight: 200;
  text-align: center;
  margin: 10px 0px;
  font-size: 14px;
}

#contact p a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: block;
  margin-left: -10px;
  margin-top: 15px;
}

.footer {
  height: 100%;
  padding-bottom: 30px;
}

.footer img {
  width: 50px;
  display: block;
  margin: auto;
}

.footer ul {
  text-align: center;
  padding: 0px;
  margin-top: 40px;
}

.footer ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  line-height: 2em;
}


.footer p {
  text-align: center;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: .05em;
}

.footer p a {
  color: #07caa6;
  text-decoration: none;
}


@media only screen and (min-width: 1024px) {
  
  .footer {
    padding-bottom: 0px;
  }
  .footer ul li {
    display: inline-block;
    margin-right: 40px;
  }
  
  .footer ul li a {
    font-size: 22px;
  }
  
  .footer ul li:last-child {
    margin-right: 0px;
  }
  
  .footer p {
    display: block;
    font-size: 14px;
    margin-top: 40px;
  }
  
  .gradient-background {
    min-height: 500px;
    padding-top: 80px;
  }
  
  #contact h2 {
    font-size: 40px;
  }
}































